@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins';
    background-color: #d9d3c8;
}


a, ul{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

header{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}


.nav{
    background-color: #262626;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu{
    display: flex;
}


.menu li{
    margin: 0px 100px 0px 100px;
}


.menu li a:hover{
    color: #D3D3D3;
}


.home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.conteiner_home{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}


.info_personal p{
    font-size: 40px;
}


.info_personal h1{
    font-size: 56px;
    font-weight: 700;
}


.info_personal h3{
    font-size: 28px;
    font-weight: 700;
}


.info_personal h1, .info_personal h3{
    color: #262626;
}


.button{
    display: inline-block;
    padding: 25px 28px;
    background-color: #262626;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px black;
}


.info_personal{
    width: 60%;
}


.img{
    background-image: url(./Imagenes/foto.png);
    width: 30%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}


.about_me{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteiner_aboutme{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}


.conteiner_instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60%;
    background-color: white;
    margin-right: 5%;
    border-radius: 5%;
}


.instagram{
    position: relative;
    bottom: 20%;
}


.conteiner_github{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60%;
    background-color: white;
    border-radius: 5%;
}


.github{
    position: relative;
    bottom: 20%;
}


.conteiner_linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60%;
    background-color: white;
    margin-left: 5%;
    border-radius: 5%;
}


.linkedin{
    position: relative;
    bottom: 20%;
}


.sub_aboutme{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.subconteiner_aboutme{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    border-bottom: solid black 1px;
    margin-bottom: 25%;
}


.conteiner_futbol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60%;
    background-image: url(./Imagenes/fondobelgrano.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5%;
}


.conteiner_gym{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60%;
    background-image: url(./Imagenes/fondogym.png);
    background-position: center;
    background-size: cover;
    border-radius: 5%;
}
