@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


a, ul{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
}


.nav{
    background-color: #262626;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.drop_menu{
    display: none;
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu li{
    position: relative;
    right: 68;
    margin: 0px 100px 0px 100px;
}


.menu li a:hover{
    color: #D3D3D3;
}


.menu_hamburguer{
    color: white;
    font-size: 24px;
    display: none;
}


#check{
    display: none;
}


.home{
    width: 100%;
    height: 100%;
    background-color: #101010;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.conteiner_home{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info_personal h1{
    font-size: 56px;
    font-weight: 700;
}


.info_personal h3{
    font-size: 28px;
    font-weight: 700;
}


.info_personal h1, .info_personal h3{
    color: white;
}


h1 span{
    color:#f9004d;
}


.button{
    display: inline-block;
    padding: 25px 28px;
    background-color: #262626;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px black;
    border: 1px solid #f9004d;
}


.info_personal{
    width: 60%;
}


.img{
    background-image: url(./Imagenes/foto.png);
    width: 30%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}


.about_me{
    width: 100%;
    height: 100%;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.text_aboutme{
    margin-top: 1.5rem;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: #191919;
    border-radius: 10px;
    border: 1px solid white;
}


.conteiner_aboutme{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.subconteiner_aboutme{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.conteiner_instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
    background-image: url(./Imagenes/fondoig.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 5%;
    border-radius: 5%;
    border: 3px solid #EB984E;
}


.enlaceinstagram{
    display: inline-block;
    padding: 25px 28px;
    background: linear-gradient(#EB984E,#AF7AC5);
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}



.conteiner_github{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
    background-image: url(./Imagenes/fondogithub.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5%;
    border: 3px solid white;
}


.enlacegithub{
    display: inline-block;
    padding: 25px 28px;
    background: linear-gradient(#909497, #4D5656);
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}


.conteiner_linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
    background-image: url(./Imagenes/fondolinkedin.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 5%;
    border-radius: 5%;
    border: 3px solid #2E86C1;
}


.enlacelinkedin{
    display: inline-block;
    padding: 25px 28px;
    background: linear-gradient(#2E86C1, #1B2631 );
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}


.conteiner_pais{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
    background-image: url(./Imagenes/arg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5%;
    border: 3px solid white;
}


.conteiner_gym{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
    background-image: url(./Imagenes/fondogym.png);
    background-position: center;
    background-size: cover;
    border-radius: 5%;
    border: 3px solid black
}


.services{
    width: 100%;
    height: 60%;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.text_services{
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: #191919;
    border-radius: 10px;
    border: 1px solid #f9004d;
}


.conteiner_services{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.conteiner_frontend{
    height: 85%;
    width: 20%;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    border: 1px solid #f9004d;
    text-align: center;
}


.text_frontend{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    color: white;
}


.conteiner_backend{
    height: 85%;
    width: 20%;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    border: 1px solid #f9004d;
    text-align: center;
}


.text_backend{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    color: white;
}


.conteiner_uxui{
    height: 85%;
    width: 20%;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    border: 1px solid #f9004d;
    text-align: center;
}


.text_uxui{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    color: white;
}


.conteiner_frontend h2,
.conteiner_backend h2,
.conteiner_uxui h2{
    color: white;
}

.conteiner_frontend a,
.conteiner_backend a,
.conteiner_uxui a{
    font-size: 15px;
    color: white;
    background-color: #101010;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid white;
}

.conteiner_frontend a:hover,
.conteiner_backend a:hover,
.conteiner_uxui a:hover{
    background-color: #202020;
}


.skills{
    width: 100%;
    height: 90%;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.text_skills{
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: #191919;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 30px;
}


.conteiner_skills{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.barra{
    height: 10px;
    width: 30%;
    background-color: gray;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}


.progress_html{
    display: block;
    width: 80%;
    height: 100%;
    background-color: blue;
}


.progress_css{
    display: block;
    width: 70%;
    height: 100%;
    background-color: blue;
}


.progress_javascript{
    display: block;
    width: 0%;
    height: 100%;
    background-color: blue;
}


.progress_reactjs{
    display: block;
    width: 0%;
    height: 100%;
    background-color: blue;
}


.progress_nodejs{
    display: block;
    width: 0%;
    height: 100%;
    background-color: blue;
}


.progress_angular{
    display: block;
    width: 0%;
    height: 100%;
    background-color: blue;
}


.progress_python{
    display: block;
    width: 75%;
    height: 100%;
    background-color: blue;
}


.progress_php{
    display: block;
    width: 0%;
    height: 100%;
    background-color: blue;
}


.progress_mysql{
    display: block;
    width: 0%;
    height: 100%;
    background-color: blue;
}


.nav_footer{
    color: white;
    width: 100%;
    height: 31%;
    background-color: #101010;
}


.footer_row{
    display: flex;
    justify-content: space-around;
}


.footer_links{
    margin-top: 20px;
    text-align: center;
}


.footer_links h4{
    text-align: center;
    border-bottom: 1px solid #f9004d;
    margin-bottom: 20px;
}


.footer_links li{
    margin-bottom: 20px;
}


.footer_links_icons li{
    margin-top: 40%;
}


@media (min-width: 576px) and (max-width: 1265px) {
    .menu{
        display: none;
    }

    .menu_hamburguer{
        display: block;
    }

    .drop_menu{
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        text-align: center;
        overflow: hidden;
        transition: .3s ease;
    }

    .drop_menu li{
        margin-top: 1.65rem;
    }

    #check:checked ~ .drop_menu{
        height: 18rem;
    }

    .conteiner_aboutme{
        flex-direction: column;
        height: 75%;
    }

    .subconteiner_aboutme{
        flex-direction: column;
    }

    .conteiner_instagram,
    .conteiner_github,
    .conteiner_linkedin,
    .conteiner_gym,
    .conteiner_pais{
        width: 30%;
        height: 60%;
        margin: 2rem;
    }

    .enlaceinstagram,
    .enlacegithub,
    .enlacelinkedin{
        padding: 0;
        font-size: 10px;
    }

    .services{
        height: 100%;
    }
    .conteiner_services{
        flex-direction: column;
    }

    .conteiner_frontend,
    .conteiner_backend,
    .conteiner_uxui{
        height: 25%;
        width: 35%;
    }

    .text_backend,
    .text_frontend,
    .text_uxui{
        display: none;
    }

    .conteiner_backend img,
    .conteiner_frontend img,
    .conteiner_uxui img{
        width: 40px;
    }

    .conteiner_frontend h2,
    .conteiner_backend h2,
    .conteiner_uxui h2{
        font-size: 15px;
        text-align: center;
    }

    .conteiner_frontend a,
    .conteiner_backend a,
    .conteiner_uxui a{
        font-size: 10px;
        margin: 20px;
    }

    .info_personal h3{
        font-size: 15px;
        text-align: left;
    }

    .info_personal h1{
        font-size: 45px;
        text-align: left;
    }

    .info_personal a{
        width: 60%;
        height: 10%;
        font-size: 12px;
        text-align: center;
    }

    .info_personal{
        width: 80%;
    }

    .img{
        width: 50%;
        height: 60%;
    }
}
